ul.topnav {
    border-radius: 15px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #202020;
}
ul.topnav li {
    float: left;
    width: 22.5%;
}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav .active {background-color: #aa0404;}  
ul.topnav  li:not(.active):hover {background-color: #111;}
  
    
ul.topnav li.right {
    float: right;
    width: 10%;
}
    
@media (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: inline-start;}
    ul.topnav li {width: auto;}
    ul.topnav li.right {width: auto;}
}